body{
    
    margin:0;
    padding:0;
    font-family: montserrat;
    background:linear-gradient(120deg);
    overflow: hidden;
}
.center{
    padding-bottom: 30px;
    
    font-family: sans-serif;
    height:300px;
    width: 100%;
    position: absolute;
    text-align: center;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
width:400px;
background-color: white;
border-radius: 10px;
}
a{
    color:red;
    
}
.txt_field{
    box-sizing: border-box;
    margin-right: 450px;
    
}
input{
    width: 350px;
    height:28px;
    margin-top:5px
}
#gap{
    margin-top: 20px;
}
#login{
    border:1px solid red;

    background-color: red;
    color:white;
    width:360px;
    font-weight: bolder;
    height: 40px;
    font-style: sans-serif;
    font-size: 18px;
    border-radius: 5px;

}
#customer_reg{
    margin-right: 280px;
    font-family: sans-serif;
    font-weight: bold;
}
input{
    height:40px;
    border: 1px solid lightgray
}
#image{
        display:flex;
        justify-content: center;
        margin:10px;
    }
    img{
        height: 40px;
        width: 40px;
        margin:5px;
    }